.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section {
  overflow: hidden;
}

.section-heading {
  position: relative;
  margin-top: 2em;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #f0f8ff;
  letter-spacing: 1px;
}

.section-line {
  position: relative;
  margin: 0 auto 5rem;
  width: 100px;
  height: 5px;
  background-color: #ffd100;
}

.section-padding {
  padding: 2em 2em 1em;
}

.btn-default-animation {
  overflow: hidden;
  transition: color 0.3s;
  z-index: 0;
}
.btn-default-animation::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.5s, transform 0.3s;
  z-index: -5;
}
.btn-default-animation:hover {
  color: #202020;
}
.btn-default-animation:hover::before {
  transform: scaleY(1);
  opacity: 1;
  transform-origin: bottom;
}

.section-block {
  position: absolute;
  height: 40px;
  width: 50%;
  background-color: #202020;
}
.section-block-left {
  top: 0;
  left: -50px;
  transform: skew(-45deg);
}
.section-block-right {
  bottom: 0;
  right: -50px;
  transform: skew(-45deg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #202020;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 1em;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7)), url("./img/img-welcome-low-res.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.header__title {
  font-family: "Lobster", cursive;
  font-size: 2.4rem;
  color: #ffd100;
}
.header__info {
  color: #f0f8ff;
  font-size: 1rem;
}
.header__button {
  color: #ffd100;
  position: relative;
  padding: 0.4em 0.8em;
  margin-top: 1em;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #f0f8ff;
  border-radius: 15px;
  background: none;
}
.header__button::before {
  background-color: #f0f8ff;
}

.aboutus {
  position: relative;
  color: #f0f8ff;
  background-color: #202020;
}
.aboutus__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.aboutus__img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 15px;
}
.aboutus__title {
  margin-bottom: 0.5em;
  color: #ffd100;
}
.aboutus__text {
  font-size: 0.8rem;
}
.aboutus__box-button {
  display: flex;
  justify-content: center;
  align-self: center;
}
.aboutus__button {
  align-self: center;
  color: #ffd100;
  position: relative;
  padding: 0.4em 0.8em;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #f0f8ff;
  border-radius: 15px;
  background: none;
}
.aboutus__button::before {
  background-color: #f0f8ff;
}

.offers {
  position: relative;
  background-color: #333533;
}
.offers__card {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
}
.offers__card:hover .offers__card-info {
  opacity: 1;
}
.offers__card:hover .offers__card-main-title {
  opacity: 0;
}
.offers__card-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.offers__card-main-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ffd100;
  text-shadow: 2px 1px #000;
  transition: opacity 0.3s;
}
.offers__card-main--first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)), url("../img/offer-img-1-low-res.jpg");
}
.offers__card-main--second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)), url("../img/offer-img-2-low-res.jpg");
}
.offers__card-main--third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)), url("../img/offer-img-3-low-res.jpg");
}
.offers__card-main--fourth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)), url("../img/offer-img-4-low-res.jpg");
}
.offers__card-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 209, 0, 0.9), rgba(0, 0, 0, 0.9));
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 15px;
}
.offers__card-info-text {
  padding: 2rem;
  align-self: center;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}
.offers__card-info-button {
  position: relative;
  align-self: center;
  width: 50%;
  height: 75%;
  padding: 0.1em 0.2em;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #ffd100;
  text-decoration: none;
  border: 1px solid #f0f8ff;
  border-radius: 15px;
  background: none;
}
.offers__card-info-button::before {
  background-color: #f0f8ff;
}
.offers__reminder {
  margin-bottom: 4rem;
  font-size: 1rem;
  color: #f0f8ff;
  text-align: center;
}
.offers__reminder a {
  color: #ffd100;
}

.portfolio {
  position: relative;
}
.portfolio__box {
  padding: 1rem;
  margin: 0.5rem;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #333533;
  border-radius: 15px;
  transition: transform 0.3s;
}
.portfolio__box:hover {
  transform: scale(0.95);
}
.portfolio__box:hover .portfolio__box-info-img img {
  transform: scale(1.05);
}
.portfolio__box-title {
  font-size: 1.2rem;
  text-align: center;
  color: #ffd100;
}
.portfolio__box-info {
  display: flex;
  flex-direction: column;
  height: auto;
}
.portfolio__box-info-img {
  height: 50%;
}
.portfolio__box-info-img img {
  width: 100%;
  max-height: 15rem;
  border-radius: 8px;
  size: cover;
  transition: transform 0.3s;
}
.portfolio__box-info-text {
  font-size: 0.9rem;
  display: flex;
  padding: 1rem 0.5rem 0;
  align-items: center;
  color: #f0f8ff;
}
.portfolio__button {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

.contact {
  position: relative;
  padding-bottom: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../img/contact-bg-img-low-res.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #f0f8ff;
}
.contact__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__list {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding-bottom: 2rem;
}
.contact__list-item {
  text-align: center;
}
.contact__list-item i {
  padding-right: 1rem;
  color: #ffd100;
}
.contact__title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-align: center;
}
.contact__social-media {
  padding: 0 1rem 1rem;
  margin: 0 1rem 1rem;
  display: flex;
  justify-content: space-around;
}
.contact__social-media-link {
  padding: 0 1rem;
  font-size: 2rem;
  color: #ffd100;
  transition: color 0.3s;
}
.contact__social-media-link:hover {
  color: #333533;
}
.contact__address {
  font-size: 1rem;
  text-align: center;
}
.contact__address i {
  padding-right: 1rem;
  color: #ffd100;
}
.contact__map {
  margin: 0.5rem 2rem 2rem;
  width: 100%;
  height: 300px;
}

.footer {
  color: #f0f8ff;
  background-color: #202020;
}
.footer__box {
  font-size: 1rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  font-size: 1.2rem;
  font-family: "Lobster", cursive;
  color: #ffd100;
}
.footer__box-social {
  font-size: 1.4rem;
  margin: 2em 0 1em;
}
.footer__box-social-link {
  color: #ffd100;
}
.footer__bottom-text {
  text-align: center;
  font-size: 1.4rem;
  padding: 1em;
  color: #ffd100;
}

@media (width >= 568px) {
  .aboutus__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .aboutus__box-img {
    width: 40%;
  }
  .aboutus__box-img--right {
    order: 1;
  }
  .aboutus__box-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aboutus__box-text--right {
    text-align: right;
  }
  .aboutus__img {
    margin-bottom: 0;
    max-height: 300px;
  }
}
@media (width >= 768px) {
  .section-heading {
    font-size: 2.4rem;
  }
  .header__title {
    font-size: 3.6rem;
  }
  .header__info {
    font-size: 1.8rem;
  }
  .header__button {
    font-size: 1.8rem;
  }
  .aboutus__box {
    margin: 1em 0;
  }
  .aboutus__title {
    font-size: 1.8rem;
  }
  .aboutus__text {
    font-size: 1.2rem;
    margin-bottom: 2em;
  }
  .aboutus__button {
    font-size: 1.6rem;
  }
  .offers__card-main-title {
    font-size: 2.8rem;
  }
  .offers__card-info-text {
    font-size: 1.8rem;
  }
  .offers__card-info-button {
    font-size: 1.6rem;
  }
  .offers__reminder {
    font-size: 2rem;
  }
  .contact__list {
    font-size: 1.2rem;
  }
  .contact__title {
    font-size: 2.4rem;
  }
  .contact__social-media-link {
    font-size: 2.4rem;
  }
  .contact__address {
    font-size: 1.2rem;
  }
  .contact__map {
    height: 450px;
  }
}
@media (width >= 992px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7)), url("../img/img-welcome-high-res.jpg");
  }
  .aboutus__box:hover .aboutus__img {
    scale: 1.05;
  }
  .aboutus__img {
    transition: scale 0.3s;
  }
  .aboutus__box-button {
    margin-top: 3rem;
  }
  .offers__card-main--first {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)), url("../img/offer-img-1-high-res.jpg");
  }
  .offers__card-main--second {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)), url("../img/offer-img-2-high-res.jpg");
  }
  .offers__card-main--third {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)), url("../img/offer-img-3-high-res.jpg");
  }
  .offers__card-main--fourth {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)), url("../img/offer-img-4-high-res.jpg");
  }
  .offers__card-info-text {
    font-size: 1.8rem;
  }
  .offers__card-info-button {
    font-size: 1.6rem;
  }
  .contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../img/contact-bg-img-high-res.jpg");
  }
  .contact__list {
    font-size: 1.4rem;
  }
  .contact__title {
    font-size: 2.6rem;
  }
  .contact__social-media-link {
    font-size: 2.6rem;
  }
  .contact__address {
    font-size: 1.4rem;
  }
  .contact__map {
    height: 600px;
  }
  .footer__boxes {
    display: flex;
  }
  .footer__box {
    font-size: 1rem;
    width: 40%;
  }
  .footer__box-social {
    display: none;
  }
  .footer__box-desktop {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  .footer__box-list-title {
    font-size: 1.4rem;
    text-align: left;
  }
  .footer__box-list-item {
    list-style: none;
    margin-bottom: 0.5rem;
  }
  .footer__box-list-item a {
    color: #f0f8ff;
    text-decoration: none;
    transition: color 0.3s;
  }
  .footer__box-list-item:hover a {
    color: #ffd100;
  }
}
@media (width >= 1200px) {
  .section-heading {
    font-size: 2.6rem;
  }
}/*# sourceMappingURL=main.css.map */