$white: #f0f8ff;
$gray: #d6d6d6;
$yellow: #ffee32;
$yellow-hover: #c2b527;
$main-color: #ffd100;
$black: #202020;
$dark: #333533;

$dark-tint: rgba(51, 53, 51, 0.6);

$dark-gradient: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8));
$contact-gradient: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
$offer-main-gradient: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4));
$offer-info-gradient: linear-gradient(
	rgba(255, 209, 0, 0.9),
	rgba(0, 0, 0, 0.9)
);
$background: linear-gradient(to top, #202020 0%, #030303 100%);
