@import './colors';
@import './components';
@import './mixins';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 0;
	min-width: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	background-color: $black;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	padding: 1em;
	text-align: center;
	@include heroImages('../img/img-welcome-low-res.jpg');
	overflow: hidden;

	&__title {
		font-family: 'Lobster', cursive;
		font-size: 2.4rem;
		color: $main-color;
	}

	&__info {
		color: $white;
		font-size: 1rem;
	}

	&__button {
		color: $main-color;
		position: relative;
		padding: 0.4em 0.8em;
		margin-top: 1em;
		font-size: 1rem;
		text-decoration: none;
		border: 1px solid $white;
		border-radius: 15px;
		background: none;

		&::before {
			background-color: $white;
		}
	}
}

.aboutus {
	position: relative;
	color: $white;
	background-color: $black;

	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}

	&__img {
		width: 100%;
		margin-bottom: 1em;
		border-radius: 15px;
	}

	&__title {
		margin-bottom: 0.5em;
		color: $main-color;
	}

	&__text {
		font-size: 0.8rem;
	}

	&__box-button {
		display: flex;
		justify-content: center;
		align-self: center;
	}

	&__button {
		align-self: center;
		color: $main-color;
		position: relative;
		padding: 0.4em 0.8em;
		margin-bottom: 2rem;
		font-size: 1rem;
		text-decoration: none;
		border: 1px solid $white;
		border-radius: 15px;
		background: none;
		&::before {
			background-color: $white;
		}
	}
}

.offers {
	position: relative;
	background-color: $dark;

	&__card {
		position: relative;
		width: 100%;
		height: 400px;
		margin-bottom: 2rem;

		&:hover {
			.offers__card-info {
				opacity: 1;
			}
			.offers__card-main-title {
				opacity: 0;
			}
		}
	}

	&__card-main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		background-position: center;
		background-size: cover;
		border-radius: 15px;

		&-title {
			text-align: center;
			font-size: 1.8rem;
			color: $main-color;
			text-shadow: 2px 1px #000;
			transition: opacity 0.3s;
		}

		&--first {
			background-image: $offer-main-gradient,
				url('../img/offer-img-1-low-res.jpg');
		}
		&--second {
			background-image: $offer-main-gradient,
				url('../img/offer-img-2-low-res.jpg');
		}
		&--third {
			background-image: $offer-main-gradient,
				url('../img/offer-img-3-low-res.jpg');
		}
		&--fourth {
			background-image: $offer-main-gradient,
				url('../img/offer-img-4-low-res.jpg');
		}
	}

	&__card-info {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 1rem 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-image: $offer-info-gradient;
		text-align: center;
		opacity: 0;
		transition: opacity 0.5s;
		border-radius: 15px;

		&-text {
			padding: 2rem;
			align-self: center;
			margin-bottom: 0;
			font-size: 1.4rem;
			font-weight: bold;
			color: black;
		}

		&-button {
			position: relative;
			align-self: center;
			width: 50%;
			height: 75%;
			padding: 0.1em 0.2em;
			margin-bottom: 2rem;
			font-size: 1rem;
			color: $main-color;
			text-decoration: none;
			border: 1px solid $white;
			border-radius: 15px;
			background: none;

			&::before {
				background-color: $white;
			}
		}
	}

	&__reminder {
		margin-bottom: 4rem;
		font-size: 1rem;
		color: $white;
		text-align: center;

		a {
			color: $main-color;
		}
	}
}

.portfolio {
	position: relative;

	&__box {
		// position: relative;
		padding: 1rem;
		margin: 0.5rem;
		height: 30rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-color: $dark;
		border-radius: 15px;
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.95);

			.portfolio__box-info-img img {
				transform: scale(1.05);
			}
		}
	}

	&__box-title {
		font-size: 1.2rem;
		text-align: center;
		color: $main-color;
	}

	&__box-info {
		display: flex;
		flex-direction: column;
		height: auto;

		&-img {
			height: 50%;
			img {
				width: 100%;
				// height: 300px;
				// height: auto;
				max-height: 15rem;
				border-radius: 8px;
				size: cover;
				transition: transform 0.3s;
			}
		}

		&-text {
			font-size: 0.9rem;
			display: flex;
			padding: 1rem 0.5rem 0;
			// text-align: center;
			align-items: center;
			color: $white;
		}
	}

	&__button {
		margin: 2rem;
		display: flex;
		justify-content: center;
		align-self: center;
	}
}

.contact {
	position: relative;
	padding-bottom: 5rem;
	background-image: $contact-gradient, url('contact-bg-img-low-res.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $white;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		display: flex;
		flex-direction: column;
		font-size: 1rem;
		padding-bottom: 2rem;
		&-item {
			text-align: center;
			i {
				padding-right: 1rem;
				color: $main-color;
			}
		}
	}

	&__title {
		margin-bottom: 1rem;
		font-size: 1.8rem;
		text-align: center;
	}

	&__social-media {
		padding: 0 1rem 1rem;
		margin: 0 1rem 1rem;
		display: flex;
		justify-content: space-around;

		&-link {
			padding: 0 1rem;
			font-size: 2rem;
			color: $main-color;
			transition: color 0.3s;

			&:hover {
				color: $dark;
			}
		}
	}

	&__address {
		font-size: 1rem;
		text-align: center;
		i {
			padding-right: 1rem;
			color: $main-color;
		}
	}

	&__map {
		margin: 0.5rem 2rem 2rem;
		width: 100%;
		height: 300px;
	}
}

.footer {
	color: $white;
	background-color: $black;

	&__box {
		font-size: 1rem;
	}

	&__box-desktop {
		display: none;
	}

	&__box-title {
		font-size: 1.2rem;
		font-family: 'Lobster', cursive;
		color: $main-color;
	}

	&__box-social {
		font-size: 1.4rem;
		margin: 2em 0 1em;
	}

	&__box-social-link {
		color: $main-color;
	}

	&__bottom-text {
		text-align: center;
		font-size: 1.4rem;
		padding: 1em;
		color: $main-color;
	}
}

@media (width >= 568px) {
	.aboutus {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-img {
				width: 40%;

				&--right {
					order: 1;
				}
			}

			&-text {
				width: 55%;
				display: flex;
				flex-direction: column;
				justify-content: center;

				&--right {
					text-align: right;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}
}

@media (width >= 768px) {
	.section-heading {
		font-size: 2.4rem;
	}

	.header {
		&__title {
			font-size: 3.6rem;
		}
		&__info {
			font-size: 1.8rem;
		}
		&__button {
			font-size: 1.8rem;
		}
	}

	.aboutus {
		&__box {
			margin: 1em 0;
		}

		&__title {
			font-size: 1.8rem;
		}

		&__text {
			font-size: 1.2rem;
			margin-bottom: 2em;
		}

		// &__box-button {
		// 	margin-top: 1.5rem;
		// }

		&__button {
			font-size: 1.6rem;
		}
	}

	.offers {
		&__card-main {
			&-title {
				font-size: 2.8rem;
			}
		}
		&__card-info {
			&-text {
				font-size: 1.8rem;
			}

			&-button {
				font-size: 1.6rem;
			}
		}

		&__reminder {
			font-size: 2rem;
		}
	}

	.contact {
		&__list {
			font-size: 1.2rem;
		}

		&__title {
			font-size: 2.4rem;
		}

		&__social-media {
			&-link {
				font-size: 2.4rem;
			}
		}

		&__address {
			font-size: 1.2rem;
		}

		&__map {
			height: 450px;
		}
	}
}

@media (width >= 992px) {
	.header {
		background-image: $dark-gradient, url('../img/img-welcome-high-res.jpg');
	}

	.aboutus {
		&__box {
			&:hover {
				.aboutus__img {
					scale: 1.05;
				}
			}
		}

		&__img {
			transition: scale 0.3s;
		}

		&__box-button {
			margin-top: 3rem;
		}
	}

	.offers {
		&__card-main {
			&--first {
				background-image: $offer-main-gradient,
					url('../img/offer-img-1-high-res.jpg');
			}
			&--second {
				background-image: $offer-main-gradient,
					url('../img/offer-img-2-high-res.jpg');
			}
			&--third {
				background-image: $offer-main-gradient,
					url('../img/offer-img-3-high-res.jpg');
			}
			&--fourth {
				background-image: $offer-main-gradient,
					url('../img/offer-img-4-high-res.jpg');
			}
		}

		&__card-info {
			&-text {
				font-size: 1.8rem;
			}

			&-button {
				font-size: 1.6rem;
			}
		}
	}

	.contact {
		background-image: $contact-gradient,
			url('../img/contact-bg-img-high-res.jpg');
		&__list {
			font-size: 1.4rem;
		}

		&__title {
			font-size: 2.6rem;
		}

		&__social-media {
			&-link {
				font-size: 2.6rem;
			}
		}

		&__address {
			font-size: 1.4rem;
		}

		&__map {
			height: 600px;
		}
	}

	.footer {
		&__boxes {
			display: flex;
		}

		&__box {
			font-size: 1rem;
			width: 40%;
		}

		&__box-social {
			display: none;
		}

		&__box-desktop {
			width: 60%;
			display: flex;
			justify-content: space-around;
		}

		&__box-list-title {
			font-size: 1.4rem;
			text-align: left;
		}

		&__box-list-item {
			list-style: none;
			margin-bottom: 0.5rem;
			a {
				color: $white;
				text-decoration: none;
				transition: color 0.3s;
			}

			&:hover {
				a {
					color: $main-color;
				}
			}
		}
	}
}

@media (width >= 1200px) {
	.section-heading {
		font-size: 2.6rem;
	}
}
